<div class="header"
  [ngClass]="{ 'transparent': isTransparent && !isMenuOpen, 'solid': !isTransparent || isMenuOpen, 'menu-open-header': isMenuOpen }">
  <a routerLink="/" (click)="closeMenu()">
    <img class="logo" [src]="(isTransparent && !isMenuOpen)
      ? 'assets/images/Home/logo-white.png'
      : 'assets/images/Home/logo.png'" alt="Logo" />
  </a>


  <!-- Mobile Menu Icon -->
  <button class="menu-btn" (click)="toggleMenu()"
    [ngClass]="{ 'white-icon': isTransparent && !isMenuOpen, 'black-icon': !isTransparent || isMenuOpen, 'open': isMenuOpen }">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Desktop Nav -->
  <ul class="nav">
    <li><a class="desktop" routerLink="/about" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">About</a></li>

    <div class="btn-group">
      <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        (click)="toggleIndustrialDropdown(); $event.preventDefault()">
        Industrial
        <img class="dropdown-image" [ngClass]="{ 'rotate': isIndustrialOpen }" *ngIf="!isTransparent"
          src="assets/images/Home/dropdown-black.svg" alt="">
        <img class="dropdown-image" [ngClass]="{ 'rotate': isIndustrialOpen }" *ngIf="isTransparent"
          src="assets/images/Home/dropdown-white.svg" alt="">
      </a>
      <ul class="dropdown-menu dropdown-menu-start mt-2">
        <li>
          <a class="dropdown-item first" [ngClass]="{ 'active1': router.url.includes('/industrial/quality-control') }"
            href="/industrial/quality-control">Quality Control</a>
        </li>
        <hr>
        <li>
          <a class="dropdown-item" [ngClass]="{ 'active': router.url.includes('/industrial/warehouse') }"
            href="/industrial/warehouse">Warehouse</a>
        </li>
        <hr>
        <li>
          <a class="dropdown-item last" [ngClass]="{ 'active2': router.url.includes('/industrial/manufacturing') }"
            href="/industrial/manufacturing">Manufacturing</a>
        </li>
      </ul>
    </div>

    <li><a class="desktop" routerLink="/products" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Products</a></li>

    <li><a class="desktop" routerLink="/career" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Career</a>
    </li>

    <li><a class="desktop" routerLink="/contact" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
    </li>

    <li><a class="desktop" routerLink="/gallery" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Gallery</a>
    </li>
  </ul>
</div>

<!-- Mobile Menu -->
<div class="mobile-menu" [ngClass]="{ 'open': isMenuOpen }">
  <nav>
    <a routerLink="/about" [ngClass]="{ 'active': router.url.includes('/about') }" (click)="closeMenu()">About</a>

    <div class="nav-item dropdown-toggle-wrapper btn-group"
      (click)="toggleIndustrialDropdown(); $event.preventDefault()">
      <a class="nav-link">Industrial</a>
      <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="M7 10L12 15L17 10" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
      </svg>
    </div>

    <div class="dropdown-content" [ngClass]="{ 'open': isIndustrialOpen }">
      <a routerLink="/industrial/quality-control" class="nav-link"
        [ngClass]="{ 'active': router.url.includes('/industrial/quality-control') }" (click)="closeMenu()">
        Quality Control
      </a>
      <a routerLink="/industrial/warehouse" class="nav-link"
        [ngClass]="{ 'active': router.url.includes('/industrial/warehouse') }" (click)="closeMenu()">
        Warehouse
      </a>
      <a routerLink="/industrial/manufacturing" class="nav-link"
        [ngClass]="{ 'active': router.url.includes('/industrial/manufacturing') }" (click)="closeMenu()">
        Manufacturing
      </a>
    </div>


    <a routerLink="/products" [ngClass]="{ 'active': router.url.includes('/products') }"
      (click)="closeMenu()">Products</a>
    <a routerLink="/career" [ngClass]="{ 'active': router.url.includes('/career') }" (click)="closeMenu()">Career</a>
    <a routerLink="/contact" [ngClass]="{ 'active': router.url.includes('/contact') }" (click)="closeMenu()">Contact
      Us</a>
    <a routerLink="/gallery" [ngClass]="{ 'active': router.url.includes('/gallery') }" (click)="closeMenu()">Gallery</a>


  </nav>
</div>