.header {
  width: 100%;
  height: 10vh;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.header.transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: white;
}

.header.solid {
  position: relative;
  background-color: white;
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  align-items: center;
}

.logo {
  height: 60px;
}

.nav {
  display: flex;
  gap: 60px;
}

.nav li {
  list-style: none;
}

.nav a {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
.desktop {
  position: relative;
  padding-bottom: 4px; // space for underline

  // hover underline effect
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5px;
    width: 0;
    border-radius: 40px;
    background-color: currentColor;
    transition: width 0.5s ease;
  }

  &:hover::after {
    width: 100%;
  }

  // remove hover underline if active
  &.active-link:hover::after {
    width: 100%;
  }
}
// active link underline
.nav a.active-link {
  font-weight: 500;
}

.nav a.active-link::after {
  height: 3px;
  width: 100%;
  background-color: var(--blue);
}

.dropdown-menu {
  width: 180px;
  padding: 0;
}

hr {
  margin: 0;
}

.dropdown-item {
  width: 100%;
  padding: 10px 16px;
  margin: 0;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item:hover {
  color: white !important;
  background-color: var(--blue) !important;
}

.dropdown-item.first:hover {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.dropdown-item.last:hover {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.dropdown-item.active {
  color: white !important;
  background-color: var(--blue) !important;
}

.dropdown-item.active1 {
  color: white !important;
  background-color: var(--blue) !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-item.active2 {
  color: white !important;
  background-color: var(--blue) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-item:focus {
  color: white !important;
  background-color: var(--blue) !important;
}

.dropdown-image {
  height: 25px;
  margin-left: 4px;
  transition: transform 0.4s ease;
}

// /* Arrow styles */
.arrow {
  transition: transform 0.3s ease;
  width: 20px;
  margin-right: 15px;
}

.rotate {
  transform: rotate(180deg) !important;
}

/* Dropdown content with slide animation */
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.6s ease,
    padding 0.2s ease;
  display: flex;
  flex-direction: column;
}

.dropdown-content.open {
  max-height: 500px;
  background: #02102514;
  padding: 10px;
  border-radius: 10px;
  padding-left: 15px;
}

.dropdown-content a {
  padding: 15px 0 !important;
  font-size: 18px !important;
  text-decoration: none;
  color: black;
}

.nav-item.dropdown-toggle-wrapper a {
  border-bottom: none !important;
}

.dropdown-toggle-wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
}
.dropdown-toggle-wrapper a {
  width: auto !important;
}

.menu-open-header {
  z-index: 2001 !important;
  position: fixed !important;
}

.menu-btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
  width: 25px;
  height: 24px;
  position: relative;
  z-index: 2005;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 85%;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2) {
    top: 7px;
  }
  span:nth-child(3) {
    top: 14px;
  }

  &.open {
    span:nth-child(1) {
      top: 10.5px;
      transform: rotate(135deg);
    }
    span:nth-child(2) {
      opacity: 0;
      display: none;
    }
    span:nth-child(3) {
      top: 10.5px;
      transform: rotate(-135deg);
    }
  }
}

/* Color for the menu icon */
.menu-btn.white-icon span {
  background: white;
}

.menu-btn.black-icon span {
  background: black;
}

/* Mobile Menu Overlay */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  z-index: 2000;
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.mobile-menu.open {
  transform: translateX(0);
  opacity: 1;
}

.mobile-menu nav {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 120px 30px;
}

.mobile-menu nav a {
  font-size: 20px;
  padding: 15px 0;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.mobile-menu nav a.active {
  color: var(--blue);
}
.btn-group {
  align-items: center !important;
}
.btn-group a {
  width: 100%;
}

.mobile-logo {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 45px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
}

@media (max-width: 1024px) {
  .nav {
    gap: 30px;
  }
}

/* Responsive Behavior */
@media (max-width: 768px) {
  .header {
    padding: 10px 25px;
  }
  .nav {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .logo {
    height: 45px;
  }

  .dropdown-item {
    font-size: 18px !important;
    width: 100%;
    padding: 4px 12px !important;
    margin: 0;
    border-bottom: none !important;
  }
}
