.header {
    text-align: center;
    font-size: var(--header);
    font-weight: var(--header-weight);
    color: white;
    letter-spacing: 1px;
    background-color: rgba(255, 69, 69, 1);
    width: 100%;
    padding: 20px 0;
}

.main {
    background-color: rgba(245, 245, 245, 1);
}

.condenser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.condenser img {
    width: 60%;
    object-fit: cover;
}




@media screen and (max-width: 576px) {

    .header {
        padding: 15px 0;
    }

    .condenser img {
        width: 90%;
    }
}