.main {
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    gap: 40px;
}


.image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 350px;
    border-radius: 18px;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    animation-name: scroll;
}

@keyframes scroll {
    from {
        transform: scaleY(0.9) translateY(600px);
    }

    to {
        transform: scaleY(1) translateY(0);
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    font-size: var(--header);
    font-weight: var(--header-weight);
}

.grey {
    color: grey;
}

.black {
    color: black;
}

.blue {
    color: var(--blue);
}

.body {
    font-size: var(--content);
    font-weight: var(--content-weight);
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.link {
    font-size: var(--link);
    font-weight: var(--link-weight);
    padding-top: 20px;
}

.link a {
    color: #0B6AA6;
}

.link a:hover {
    color: black;
}



@media screen and (max-width: 576px) {

    .main {
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(245, 245, 245, 1);
        gap: 25px;
    }

    .image img {
        width: 100%;
        max-width: 480px;
        height: auto;
        border-radius: 18px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header {
        font-size: var(--header);
        font-weight: var(--header-weight);
        width: 100%;
    }

    .body {
        font-size: var(--content);
        font-weight: var(--content-weight);
        width: 100%;
        gap: 15px;
    }


    .link {
        font-size: var(--link);
        font-weight: var(--link-weight);
        padding-top: 10px;
    }

    .link a {
        color: #0B6AA6;
    }

    .link a:hover {
        color: black;
    }

}