<!-- Optional: fallback -->
<div class="main" *ngIf="loading">
    <div class="skeleton-filter-buttons sl_effect"></div>

    <div class="skeleton-wrapper">
        <div class="skeleton-image sl_effect"></div>
    </div>


    <div class="skeleton-wrapper">
        <div class="skeleton-card">
            <div class="skeleton-sub-header sl_effect"></div>
            <div class="skeleton-content sl_effect"></div>
        </div>
        <div class="skeleton-card">
            <div class="skeleton-sub-header sl_effect"></div>
            <div class="skeleton-content sl_effect"></div>
        </div>
        <div class="skeleton-card sl_effect"></div>
        <div class="skeleton-card sl_effect"></div>
    </div>
</div>


<div class="main" *ngIf="blog && !loading">


    <div class="header">
        {{ blog.title }}
    </div>

    <div class="meta" *ngIf="blog?.author || blog?.published_date || blog?.createdAt">
        <span class="author" *ngIf="blog?.author">Written By {{ blog.author }}</span>
        <span class="separator" *ngIf="blog?.author && (blog?.published_date || blog?.createdAt)"> on </span>
        <span class="date" *ngIf="blog?.published_date">
            {{ blog.published_date | date:'yyyy-MM-dd' }}
        </span>
    </div>

    <div class="image" *ngIf="blog.cover_image">
        <img [src]="blog.cover_image" alt="">
    </div>


    <div class="body">

        <div class="section" *ngFor="let s of blog.sections">


            <div class="sub-header" *ngIf="s.title">
                {{ s.title }}
            </div>

            <div class="content">

                <p *ngIf="s.type === 'text'">
                    {{ s.content }}
                </p>


                <ul *ngIf="s.type === 'ul'">
                    <li *ngFor="let item of s.content.split('|')">
                        {{ item }}
                    </li>
                </ul>


                <ol *ngIf="s.type === 'ol'">
                    <li *ngFor="let item of s.content.split('|')">
                        {{ item }}
                    </li>
                </ol>

            </div>

        </div>

    </div>

</div>



<app-news></app-news>
<app-reach-out></app-reach-out>
<app-footer></app-footer>