.main {
    padding: 80px 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: #F5F5F5;


    p {
        margin-bottom: 0 !important;
    }
}

.header {
    font-size: var(--header);
    font-weight: var(--header-weight)   ;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    img {
        object-fit: cover;
        width: 70%;
        height: auto;
    }
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-header {
    font-size: var(--sub-header);
    font-weight: var(--sub-header-weight);
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: var(--content);
    font-weight: var(--content-weight);
    width: 100%;


    ul {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 0px;

        li {
            list-style-type: disc;
        }
    }



    ol {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 0px;

        li {
            list-style-type: decimal;
            padding-left: 3px;
        }
    }
}

.skeleton-filter-buttons {
    width: 100%;
    height: 100px;
}

.skeleton-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

.skeleton-image {
    width: 70%;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    align-items: center;
}

.skeleton-card {
    width: 100%;
    overflow: hidden;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .skeleton-sub-header {
        height: 50px;
    }

    .skeleton-content {
        height: 180px;
    }
}



/* Skeleton loading effect */
.sl_effect {
    background: linear-gradient(90deg,
            #f0f0f0 25%,
            #e0e0e0 50%,
            #f0f0f0 75%);
    background-size: 200% 100%;
    animation: sl_loading 2.5s linear infinite;
}

/* Animation */
@keyframes sl_loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}



@media screen and (max-width: 576px) {

    .main {
        padding: var(--padding);
        gap: 25px;
    }

    .image {

        img {
            width: 100%;
        }
    }

    .body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .sub-header {
        margin-top: 10px;
    }

    .skeleton-filter-buttons {
        width: 100%;
        height: 65px;
    }

    .skeleton-image {
        width: 100%;
        height: 280px;
        border-radius: 12px;
        overflow: hidden;
        align-items: center;
    }

}