.header {
    width: 100%;
    font-size: var(--header);
    font-weight: var(--header-weight);
    color: white;
    background-color: var(--dark);
    padding: 20px 80px;
}

.padding {
    padding: 40px 80px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.block {
    width: 35%;
    background-color: rgba(245, 245, 245, 1);
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: fit-content;
    min-height: 225px;
    transition: all 0.7s ease-in-out;
}

.block:hover {
    border-radius: 28px;
}

.block-header {
    font-size: var(--sub-header);
    font-weight: var(--sub-header-weight);
    width: 80%;
}

.block-content {
    font-size: var(--content);
    font-weight: var(--content-weight);
    color: rgba(147, 147, 147, 1);
    width: 85%;
}




@media screen and (max-width: 576px) {

    .header {
        padding: 10px 25px;
    }

    .padding {
        padding: 20px 25px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .block {
        width: 100%;
        background-color: rgba(245, 245, 245, 1);
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        min-height: fit-content;
    }

    .block-header {
        font-size: var(--sub-header);
        font-weight: var(--sub-header-weight);
        width: 100%;
    }

    .block-content {
        font-size: var(--content);
        font-weight: var(--content-weight);
        color: rgba(147, 147, 147, 1);
        width: 100%;
    }

}