.main {
  padding: var(--padding);
  background-color: #f9f9f9;
}

.section {
  display: flex;
  margin: auto;
  gap: 80px;
}

.quality-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quality-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px 20px;
}

.quality-card h4 {
  font-size: var(--sub-header);
  font-weight: var(--header-weight);
  margin-bottom: 20px;
}

.quality-card p {
  font-size: var(--content);
  font-weight: var(--content-weight);
  color: #939393;
}

.quality-right {
  flex: 1;
  position: sticky;
  top: 120px;
  height: fit-content;
}

.quality-right h1 {
  font-size: var(--header);
  font-weight: var(--header-weight);
  margin-bottom: 30px;
}

.quality-right p {
  font-size: var(--content);
  font-weight: var(--content-weight);
  line-height: 1.3;
}

.quality-gates {
  margin: 80px 0 0;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: left;
}
.gates-slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  background: #fff;
  border-radius: 50px;
  padding: 25px 40px;
  overflow: hidden;
}

.gates-title {
  font-size: var(--header);
  font-weight: var(--header-weight);
  flex-shrink: 0;
  width: 500px;
}

/* container

.gates-content {
  flex: 1;
  display: flex;
  overflow: hidden; 
  position: relative;
  width: 300px;
}

/* track  

.gates-track {
  display: flex;
  gap: 30px;
  min-width: max-content;
  animation: gatesScroll 6s linear infinite;
}

/* pills  

.gate-pill {
  padding: 14px 26px;
  border-radius: 40px;
  background: #fff;
  font-size: var(--content);
  font-weight: var(--content-weight);

  /* allow 2 line text */
//   white-space: normal;
//   text-align: center;
// }

/* animation */

@keyframes gatesScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* pause on hover 

.gates-content:hover .gates-track {
  animation-play-state: paused;
}
/* DESCRIPTION TEXT */
/* container */

.gates-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* moving track */

.gates-track {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  white-space: nowrap;
  width: max-content;
  animation: marquee 27s linear infinite;
}

/* pills */

.gates-track span {
  display: inline-block;
  padding: 12px 26px;
  background: #ffffff;
  border-radius: 40px;
  font-size: var(--content);
  font-weight: var(--content-weight);
  color: #000;
}

/* animation */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* pause on hover */

.gates-content:hover .gates-track {
  animation-play-state: paused;
}

.gates-desc {
  font-size: var(--content);
  font-weight: var(--content-weight);
  line-height: 1.4;
  padding-left: 24px;
  max-width: 800px;
  text-align: left;
}

/* SCROLL ANIMATION */

@keyframes gatesScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* OPTIONAL: pause on hover */

.gates-track:hover {
  animation-play-state: paused;
}

@media screen and (max-width: 1224px) {
  .quality-card h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .quality-card h4 {
    font-size: 18px;
  }

  .quality-gates {
    margin: 40px 0 0;
    row-gap: 20px;
  }
  .gates-slider {
    gap: 20px;
    flex-direction: column;
  }
  .gates-title {
    font-size: var(--header);
    width: 100%;
    text-align: center;
  }

  .gates-content {
    width: 100%;
    overflow: hidden;
  }

  .gates-track {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    white-space: nowrap;
    animation: marquee 27s linear infinite;
  }

  .gates-track span {
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 30px;
  }

  .section {
    flex-direction: column-reverse;
    width: 100%;
    gap: 30px;
  }

  .quality-right {
    position: static;
  }

  .quality-right h1 {
    margin-bottom: 20px;
  }
}
